$border-color: #d1d5db !default;
$app-background: #f9fafb !default;
$currentColor: #d1d5db !default;
$border-rounded: 4px !default;
$rounded-md: 6px;

/* main.css */
:root {
  --v-theme-on-background: #111827;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Inter-Regular.ttf") format("truetype");
}

* {
  font-family: Inter !important;
}

/* background*/
.v-main__wrap {
  background: $app-background;
}

body {
  background-color: #f9fafb;
}

/* common */
.expand {
  width: 100%;
}

.link {
  color: #6b7280 !important;
}

.transparent {
  background: transparent !important;
}

/* text  */

.v-application .body-2 {
  color: #6b7280 !important;
}

.plain-txt {
  color: #111827 !important;
}

.v-application .purple-text {
  // color: #8431e7 !important;
  color: #8431e7 !important;
}

:root {
  --circle-size: clamp(2rem, 4vw, 2rem);
  --spacing: clamp(0.25rem, 2vw, 0.5rem);
}

/* button  */
.primary-btn.v-btn {
  background: #8431e7 !important;
  opacity: 1 !important;
}

.primary-btn,
.primary-btn i {
  color: #fff !important;
}

.plain-btn {
  border: 1px solid $border-color;
  background-color: #fff !important;
}

/* end of button  */
.text--white {
  color: white !important;
}

.red--text {
  color: rgb(176, 0, 32);
}

.grey--text {
  color: #757575;
}

.black--text {
  color: #000000;
}

.bg-signup-container {
  background-image: url("@/assets/images/bg-signup-success.webp");
  background-position: center;
  background-size: cover;
  padding: 2em !important;
  border-radius: 8px;
  width: 550px;
  min-width: 300px;
}

@media (max-width: 550px) {
  .bg-signup-container {
    width: 350px;
  }
}

//.signup-bg {
//  background-image: url("@/assets/image/signup-bg.png");
//  background-position: center;
//  background-size: cover;
//}

.side-container-pollen-pass {
  background-image: url("~/assets/images/bg_auth_pollen_pass.webp");
  background-position: center;
  background-size: cover;
  padding: 4em;
}

.onboarding-header {
  background-image: url("@/assets/images/onboarding-header.webp");
  background-position: center;
  background-size: cover;
}

.landing-bg {
  position: relative;
}

.landing-bg:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-image: url("@/assets/images/landing-bg.webp");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  opacity: 0.6;
}

.side-container {
  background-image: url("~/assets/images/bg_auth_pollen_pass.webp");
  background-position: center;
  background-size: cover;
  padding: 4em;
}

// toolbar
.v-toolbar__title {
  font-size: 0.9em;
}

.v-toolbar__title {
  font-size: 0.9em;
}

.v-toolbar__content {
  background-color: #fff;
}

// end of toolbar

.custom-text-field .v-input__control .v-field__field,
.custom-text-field .v-input__control .v-field__field input {
  max-height: 40px !important;
  min-height: 40px !important;
}

.custom-text-field .v-input__details {
  padding-inline: 5px !important;
  text-align: start !important;
}

.custom-text-field .v-input__details .v-messages {
  font-size: 14px !important;
}

.custom-text-field {
  margin-top: 5px;
}

@media (max-width: 550px) {
  .custom-text-field .v-input__details .v-messages {
    font-size: 12px !important;
  }
  .checkbox .v-input__control {
    height: 38px !important;
    margin-bottom: 10px !important;
  }
}

.checkbox .v-input__details {
  margin-bottom: 10px !important;
}
.checkbox .v-input__control {
  height: 38px !important;
  margin-bottom: 5px;
}
.custom-button {
  height: 40px !important;
  font-size: 16px !important;
  padding: 8px 20px;
  border-radius: 6px !important;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.link {
  color: #8431e7 !important;
  text-decoration: none;
}
